@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300&family=Syncopate:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.secondary-font {
  font-family: "Syncopate";
  font-weight: 700;
}
.primary-font {
  font-family: "Syncopate";
  font-weight: 700;
  text-shadow: 1px 1px 1px black;
}

body {
  color: whitesmoke;
  display: relative;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Roboto;
  width: 100%;
  height: 100%;
}

body:hover .parent1 {
  width: 50%;
  height: 100%;
  display: flex;
  clip-path: circle();
  transition: 5s ease-in-out all;
  mix-blend-mode: overlay;
  background: rgb(162, 12, 12);
  background: radial-gradient(
    circle,
    rgb(201, 197, 0) 21%,
    rgb(79, 197, 1) 25%,
    rgb(5, 219, 77) 27%,
    rgb(0, 221, 111) 30%,
    rgb(9, 212, 128) 35%,
    rgb(0, 167, 117) 39%,
    rgb(73, 187, 111) 47%,
    rgb(149, 156, 53) 51%,
    rgb(151, 120, 47) 56%,
    rgba(210, 130, 69, 1) 59%,
    rgb(163, 86, 63) 62%,
    rgb(153, 103, 78) 65%
  );
}
body:hover .parent2 {
  width: 30%;
  height: 100%;
  clip-path: circle();
  background: rgb(0, 255, 222);
  background: radial-gradient(
    circle,
    rgba(0, 255, 222, 1) 0%,
    rgba(22, 185, 205, 1) 5%,
    rgba(28, 136, 228, 1) 10%,
    rgba(13, 79, 208, 1) 18%,
    rgba(34, 19, 199, 1) 27%,
    rgba(70, 27, 228, 1) 34%,
    rgba(107, 8, 235, 1) 42%,
    rgba(146, 44, 224, 1) 50%,
    rgba(161, 3, 223, 1) 55%,
    rgba(205, 27, 213, 1) 61%,
    rgba(212, 7, 169, 1) 67%,
    rgba(255, 0, 134, 1) 72%,
    rgba(247, 34, 81, 1) 78%,
    rgba(235, 2, 42, 1) 82%
  );
  justify-content: center;
  cursor: pointer;
  transition: 5s ease-in-out all;
  mix-blend-mode: overlay;
}
body:hover .container3 {
  width: 40%;
  height: 100%;
  clip-path: circle();
  justify-content: center;
  background: rgb(222, 208, 0);
  background: radial-gradient(
    circle,
    rgba(222, 208, 0, 1) 7%,
    rgba(237, 255, 13, 1) 10%,
    rgba(199, 214, 12, 1) 13%,
    rgba(191, 254, 10, 1) 16%,
    rgba(215, 255, 23, 1) 19%,
    rgba(214, 226, 9, 1) 24%,
    rgba(175, 222, 13, 1) 27%,
    rgba(55, 182, 12, 1) 32%,
    rgba(17, 222, 13, 1) 42%,
    rgba(48, 255, 0, 1) 47%,
    rgba(69, 227, 5, 1) 54%,
    rgba(103, 230, 16, 1) 63%,
    rgba(118, 235, 6, 1) 66%,
    rgba(163, 251, 16, 1) 73%,
    rgba(169, 212, 7, 1) 80%,
    rgba(211, 212, 7, 1) 86%,
    rgba(255, 252, 0, 1) 98%
  );
  transition: 5s ease-in-out all;
  mix-blend-mode: overlay;
}

.slider {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  transition: 1.2s ease-in;
}

.container1 {
  width: 40%;
  height: 40%;
  clip-path: circle();
  transition: 5s ease-in-out all;
  background: rgb(251, 0, 233);
  background: radial-gradient(
    circle,
    rgba(251, 0, 233, 1) 11%,
    rgba(143, 98, 125, 1) 20%,
    rgba(133, 98, 143, 1) 23%,
    rgba(126, 98, 143, 1) 26%,
    rgba(101, 71, 149, 1) 29%,
    rgba(79, 71, 149, 1) 35%,
    rgba(71, 114, 149, 1) 41%,
    rgba(71, 128, 149, 1) 52%,
    rgba(60, 157, 159, 1) 61%,
    rgba(60, 145, 159, 1) 65%,
    rgba(60, 159, 78, 1) 74%,
    rgba(60, 159, 90, 1) 86%
  );
}

.container2 {
  width: 70%;
  height: 70%;
  clip-path: circle();
  cursor: pointer;
  transition: 5s ease-in-out all;
  background: rgb(34, 193, 195);
  background: radial-gradient(
    circle,
    rgba(34, 193, 195, 1) 0%,
    rgba(17, 153, 143, 1) 3%,
    rgba(67, 173, 157, 1) 7%,
    rgba(47, 175, 124, 1) 13%,
    rgba(23, 168, 52, 1) 20%,
    rgba(11, 163, 159, 1) 29%,
    rgba(36, 111, 101, 1) 36%,
    rgba(102, 169, 240, 1) 44%,
    rgba(107, 143, 175, 1) 50%,
    rgba(166, 116, 227, 1) 53%,
    rgba(176, 77, 167, 1) 61%,
    rgba(164, 98, 129, 1) 66%,
    rgba(187, 35, 84, 1) 71%,
    rgba(194, 29, 73, 1) 76%,
    rgba(227, 26, 67, 1) 81%,
    rgba(185, 1, 45, 1) 87%,
    rgba(255, 0, 18, 1) 93%,
    rgba(253, 187, 45, 1) 100%
  );
}
.container3 {
  width: 100%;
  height: 100%;
  clip-path: circle();
  transition: 5s ease-in-out all;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(2, 0, 36);
  background: radial-gradient(
    circle,
    rgb(5, 1, 99) 0%,
    rgb(182, 155, 6) 0%,
    rgba(78, 143, 96, 1) 21%,
    rgba(93, 130, 65, 1) 37%,
    rgb(81, 231, 156) 52%,
    rgb(68, 216, 176) 61%,
    rgb(24, 173, 166) 72%,
    rgb(132, 192, 214) 78%
  );
}

.horizontal-flow {
  display: flex;
  overflow-x: auto;
  animation: horizontalScroll 20s linear infinite;
}

.horizontal-flow2 {
  display: flex;
  overflow-x: auto;
  animation: horizontalScroll2 20s linear infinite;
}

.primary:hover .hovee {
  display: flex;
  overflow-x: auto;
}
.hovee {
  display: none;
}

@keyframes horizontalScroll {
  0%,
  100% {
    transform: translateX(-20%);
  }
  50% {
    transform: translateX(20%);
  }
}

@keyframes horizontalScroll2 {
  0%,
  100% {
    transform: translateX(20%);
  }
  50% {
    transform: translateX(-20%);
  }
}
